.HeroSection{
    height: 800px;
    background-color: #3F3F3F;
}

h1, h5{
    color: white;
}

h5{
    padding: 50px 0px;
}

#StartWatching{
    border-radius: 7px;
    stroke: none;
    background-color: #B3B3B3;
    color: white;
    align-items: center;
    border: none;
}

#StartWatching p{
    font-weight: 500;
    padding: 0px 40px;
    padding-top: 10px;
}

.heroLeft{
    width: 450px;
    padding-top: 250px;
    margin-left: 150px;
}